*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    padding: 20px;
}

@media only screen and (max-width: 900px) {
	body{
        flex-direction: column;
    }
    #left-bar{
        width: 100%;
        order: 2;
    }
}

#left-bar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 2px solid black;
    z-index:1;
    background-color: #000000a8;
} 

#right-bar{
    flex: 2 0 70%;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

#nav-bar{
    display: flex;
}

#nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-bar ul li{
    text-transform: uppercase;
}

a,
a:visited,
a:focus,
a:active,
a:link {
    text-decoration: none;
    outline: 0;
}

a {
    color: currentColor;
    transition: .2s ease-in-out;
    margin: 10px;
    align-self: baseline;
}

a:hover{
    font-weight: bold;
    padding: 10px 40px;
    border: 2px solid #ffffff;
}

ul {
    padding: 0;
    list-style: none;
    flex: 1;
}



.burger-wrapper {
  cursor: pointer;
}
#meny {
    background:#000000a8;
    width: 50rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
}
#menyAvPaa {
    display: none;
}

#menyAvPaa:checked ~ #meny {
    transform: translateX(0rem);
}

#burger {
    cursor: pointer;
    /* margin-left: 50px; */
    width: 2rem;
    height: 2rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
    z-index: 999;
}

#menyAvPaa:checked ~ #burger > div {
  background-color: #fff;
}

#menyAvPaa:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#menyAvPaa:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#menyAvPaa:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}
