*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: auto 100vh;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
}

@media only screen and (max-width: 500px) {
	body{
        flex-direction: column;
    }
    #left-bar{
        width: 100%;
    }
}

#left-bar{
    display: flex;
    flex-direction: column;
    /* width: 30%; */
    /* height: 100vh; */
    border: 2px solid black;
}

#right-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#nav-bar ul{
    display: flex;
    justify-content: space-around;
}

#nav-bar ul li{
    text-transform: uppercase;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

ul {
  padding: 0;
  list-style: none;
  flex: 1;
}