*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(images/dual_monitor_screen_abstract_3840x1080.jpg);
    /* background-color: bisque; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 0 20px;
}


header{
    /* position: sticky; */
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 100%;
    padding: 20px 0px;
}

#logo{
    
    flex: 1 0 260px;
}
#logo p{
    font-family: 'Cinzel', serif;
    font-size: 25px;
}

#hamburder-menu{
    z-index: 10;
}
#nav-bar{
    display: flex;
    flex: 2 1 0;
}

#nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-bar ul li{
    text-transform: uppercase;
}

#nav-bar a {
    color: currentColor;
    transition: .2s ease-in-out;
    margin: 10px;
    align-self: baseline;
    text-decoration: none;
    outline: 0;
}

.bar-box:hover{
    font-weight: bold;
    padding: 10px 40px;
    border: 2px solid #ffffff;
}

#nav-bar ul {
    /* padding: 0; */
    list-style: none;
    flex: 1;
    /* padding: 10px; */
}

#ham-menu {
    /* background:#000000a8; */
    background: rgba(0, 0, 0, 0.911);
    width: 20rem;
    height: 400px;
    position: fixed;
    right: 0;
    transition-timing-function: cubic-bezier(10,2,3,1);
    transform: translateX(50rem);
    top: 0;
    z-index: 0;
    transition: 0.5s;
}
#ham-menu-logo {
    display: none;
}

#ham-menu-logo:checked ~ #ham-menu {
    transform: translateX(0rem);
}

#burger {
    cursor: pointer;
    margin: 0;
    width: 2rem;
    height: 2rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#burger > div {
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
    z-index: 999;
}

#ham-menu-logo:checked ~ #burger > div {
  background-color: #fff;
}

#ham-menu-logo:checked ~ #burger > div:nth-child(1) {
    transform: translateY(15px) rotate(45deg);
}
#ham-menu-logo:checked ~ #burger > div:nth-child(2) {
    opacity: 0;
}
#ham-menu-logo:checked ~ #burger > div:nth-child(3) {
    transform: translateY(-15px) rotate(-45deg);
}

#ham-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px;
}

#ham-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#ham-menu li{
    padding: 20px;
}

#social{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    text-transform: capitalize;
}

@media only screen and (max-width: 1100px) {
	body{
        flex-direction: column;
    }
    #introduction{
        width: 100%;
        order: 2;
    }
}

@media only screen and (max-width: 850px){
    .bar-box{
        display: none;
    }    
}

#introduction{
    padding: 20px;
    display: flex;
    /* height: 100vh; */
    height: 100%;
    flex-wrap: wrap;
    z-index:1;
    background-color: #000000a8;
    align-items: center;
    justify-content: space-around;
    text-align: justify;
} 

#intro{
    flex: 1 0 90px;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}
#intro h1{
    padding: 20px 0;
    font-size: 1.7em;
}

#intro h3{
    padding-bottom: 10px;
    padding-left: 20px;
}

#intro p{
    padding-left: 20px;
}

#language{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#details{
    flex: 2 0 0;
    padding: 10px;
}

@media only screen and (max-width: 850px){
    #introduction{
        flex-direction: column;
    }
}

#certeficates{
    background-color: #000000a8;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

#certeficates h1{
    font-size: 1.7em;
    align-self: flex-start;
    text-transform: capitalize;
}

#certificates_gallery{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #fff;
    padding-top: 20px;
}

#certificates_gallery img{
    opacity: 0.5;
    
    max-width: 400px;
    max-height: 300px;
    width: 400px;
    height: 300px;
    padding: 10px;
    margin: 20px;
    transition: transform .2s;
}

#certificates_gallery img:hover{
    opacity: 1;
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.2); 
    z-index: 2;
    padding: 5px;
    /* background-color:  #000000a8; */
    border: 2px solid rgba(0, 0, 0, 0.521);
}
