@charset "UTF-8";
.card {
  max-width: 900px;
  padding: 100px 0;
  text-align: left;
}

.card p {
  text-align: justify;
  line-height: 26px;
}

.card ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  list-style: none;
}

.card ul li {
  font-family: 'Poppins', sans-serif;
  color: #8892b0;
  font-weight: bold;
  position: relative;
  margin-bottom: 10px;
  padding-left: 0px;
  line-height: 20px;
}

.card ul li:before {
  color: #64ffda;
  content: '▹';
  box-sizing: border-box;
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.card-grid1 {
  display: flex;
  flex-direction: column;
}

.card-p-top {
  margin: 0;
}

.card-inner {
  display: grid;
  gap: 50px;
  grid-template-columns: 3fr 2fr;
}

.card-inner picture {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  padding: 0;
  max-height: 300px;
}

.card-inner .img-overlay1 {
  position: absolute;
  background-color: #64ffda;
  opacity: 0.5;
  height: 300px;
  width: 300px;
  border-radius: 5px;
  transition: background-color 500ms;
}

.card-inner .img-overlay1:hover {
  background-color: transparent;
}

.list-box p {
  color: #ccd6f6;
  margin-top: 0;
}

.list-box ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}

.list-box ul li {
  float: left;
  border: 1px solid #64ffda;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.list-box ul li:before {
  content: '';
}

@media (max-width: 700px) {
  .card-inner {
    display: flex !important;
    flex-direction: column !important;
    gap: 0;
  }
  .list-box-top {
    margin-top: 20px !important;
  }
  .list-box ul {
    justify-content: center;
  }
  .list-box li {
    padding: 0.5rem !important;
    margin-bottom: 1rem !important;
  }
  .card {
    padding: 0 !important;
  }
}
