.contact {
  padding: 100px 0;
  margin: auto;
  margin-bottom: 100px;
  max-width: 600px;
}

.contact h1 {
  line-height: 50px;
  font-size: 60px;
  color: #ccd6f6;
}

.contact button {
  margin: 0;
  margin-top: 50px;
}
