@font-face {
  font-family: SF-Mono;
  font-weight: Regular;
  font-style: normal;
  src: url("../Fonts/SFMono-Regular-8799e6387338d58f2f137df821c86eb4.woff2");
}

@font-face {
  font-family: Calibre-Medium;
  font-weight: normal;
  font-style: normal;
  src: url("../Fonts/Calibre-Medium-568dce56f869a519a015d3b69443b067.woff2");
}

@font-face {
  font-family: Calibre-Regular;
  font-weight: normal;
  font-style: normal;
  src: url("../Fonts/Calibre-Regular-b0d4cbb1201155ddccc21d1b8059a670.woff2");
}

@font-face {
  font-family: Calibre-Semibold;
  font-weight: normal;
  font-style: normal;
  src: url("../Fonts/Calibre-Semibold-94fc73852539d6733dc0d80252c5e3fb.woff2");
}
